
body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;

}
a{
    color: #d3dbe4;
    text-decoration: none;
}

ul{list-style-type:none;
    display: flex;
    margin-left: 35px;
}
.navbar{ position: fixed;
        left: 0%;
        top: 0%;
        width:100% ;
        display: flex;
        justify-content: center;
        align-items: 100;
        z-index: 100;
        visibility: hidden;
        opacity: 0;
        animation: show-content 1.5s linear forwards;
        animation-delay: 1.2s;
}
@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.logo{
    font-size: 30px;
    font-weight: 700;
    margin-right: 120px;
    margin-top: 20px;
    color: #95add8;
    font-family: 'Courier New', Courier, monospace;
}
.navbar ul li{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-items: center;
    margin-left: 40px;
    border: 2px solid #95add8;
    
    border-radius: 70px;
    font-size: 18px;
    font-weight: 500;  
    display: inline-block; 
    padding: 5px;
}
.navbar ul{ margin-left: 80px;}
.ul li:hover a,
.navbar ul li.active a{
    color: rgb(79, 255, 182);
    box-shadow: 0 0 0 rgb(31, 127, 190);
}

.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    gap: 50px;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.9s linear forwards;
    animation-delay: 2s;
}

.home-info h3 span {
  margin-left: 20px;
  position: absolute;
  opacity: 0;
  animation: showText 25s  infinite;
  color: rgb(255, 252, 94);
  -webkit-text-stroke: .7px rgb(67, 241, 67);
}

.home-info h3 span:nth-child(2) { animation-delay: 0s; }
.home-info h3 span:nth-child(3) { animation-delay: 5s; }
.home-info h3 span:nth-child(4) { animation-delay: 10s; }
.home-info h3 span:nth-child(5) { animation-delay: 15s; }
.home-info h3 span:nth-child(6) { animation-delay: 20s; }

@keyframes showText {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  20%  { opacity: 1; }
  30%  { opacity: 0; }
  100% { opacity: 0; }
}
.home h1{ font-size: 50px; color:  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(94, 180, 180);}
.home h2{ font-size: 30px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-top: 4px;}
.home p { font-size: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 8px;
}
.btn-sm-logos{ display: flex; align-items: center;
}
.btn{ display: inline-block;
    padding: 10px 30px;
    background: rgb(77, 160, 160);
    border: 2px solid rgb(141, 211, 211);
    border-radius: 40px;
    margin-right: 20px;
    box-shadow: 0 0 10px rgb(53, 230, 230);
    font-size: 18px;
    color: #f1ff73;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    
}
.btn:hover {
    background: transparent;
    color: rgb(124, 253, 156);
    box-shadow: none;
}
.sm-logos{ justify-content: space-between; 
    margin-left: 30px;
    display: inline-block;
}
.sm-logos a{ border-radius: 40px;
    color: rgb(103, 228, 228);
    font-size: 20px;
    padding: 10px;
    border: 2px solid rgb(142, 210, 255);
   
   
}
.sm-logos a:hover {
    background: #6d6565;
    box-shadow: 0 0 10px rgb(142, 210, 255);
    color: rgb(117, 226, 74);
}
.home-img{ margin-left: 200px; 
    position: relative;height: 50%; width: 40%; margin-top: 150px;
    justify-content: center;
    display: block;
    align-items: center;
    justify-items: center;
    margin-bottom: 110px;
}

.img-item img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 6px 18px rgb(9, 204, 194);
    border: 4px solid rgb(142, 255, 128);
}
.home-img .img-box .img-item{
    width: 30vw;
    height: 30vw;
    background: slateblue;

    position: relative;
    display: flex; justify-content: center;
    width: 60%;
    height: 60%;
    background: #52b8a7;
    border-radius: 50%;
}
.home-img .img-box .img-item img{
    position: absolute;
    display: block;
}
.img-box{
    position:relative;
    width: 20vw;
    height: 20vw;
    background: rgb(39, 212, 255);
    border-radius: 60%;
    width: 40%;
    height: 70%;
    margin-top: 3px;
    position: relative;
    border: 4px solid rgb(108, 114, 113);
}
.bars-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}
.bars-animation .bar {
    width: 100%;
    height: 100%;
    background: #1f242d;
    
    transform: translatey(-100%);
    animation: show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));


}
@keyframes show-bars {
    100%{
        transform: translateY(0%);
    }
}

